@model  WineShop.Models.SanPham

<div class="columns-container">
    <div class="container" id="columns">
        <!-- row -->
        <div class="row">
            @{ var item = Model;}
            <!-- Center colunm-->
            <div class="center_column col-xs-12 col-sm-12" id="center_column">
                <!-- Product -->
                <div id="product">
                    <div class="primary-box row">
                        <div class="pb-left-column col-xs-12 col-sm-5">
                            <!-- product-imge-->
                            <div class="product-image">
                                <div class="product-full">
                                    @foreach (var h in item.HinhAnhs)
                                    {
                                        <img id="product-zoom" src="~/Images/@h.TenHinh" width="500" height="400"/>
                                        break;
                                    }
                                </div>
                                <div class="product-img-thumb" id="gallery_01">
                                    <ul class="owl-carousel" data-items="3" data-nav="true" data-dots="false" data-margin="21" data-loop="false"></ul>
                                </div>
                            </div>
                            <div class="product-img-thumb" id="gallery_01">

                                <ul class="owl-carousel" data-items="3" data-nav="true" data-dots="false" data-margin="21" data-loop="false">
                                    @foreach (var hinh in item.HinhAnhs)
                                    {
                                        if (hinh.BiXoa == false)
                                        {
                                            <li>
                                                <a href="SanPhams/HienThiChiTietSanPham/@hinh.MaSanPham">
                                                    <img src="@Url.Content("~/Images/" + hinh.TenHinh)" alt="@hinh.TenHinh" height="150" />
                                                </a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                            <!-- product-imge-->
                        </div>
                        <div class="pb-right-column col-xs-12 col-sm-7">
                            @using (Html.BeginForm("Nhap", "GioHang", FormMethod.Get))
                            {
                                <h1 class="product-name">@item.TenSanPham</h1>

                                <div class="product-price-group">
                                    <span class="price">@item.GiaSanPham.GetValueOrDefault(0).ToString("N0") VNĐ</span>
                                </div>
                                    <div class="info-orther">                                       
                                        <p>Xuất Xứ: Chile</p>
                                    </div>
                                    <div class="product-desc">
                                        @item.MoTa
                                    </div>
                                    <div class="form-option">
                                        <p class="form-option-title">Tùy chọn:</p>

                                        <div class="attributes">
                                            <div class="attribute-label">Số lượng:</div>
                                            <div class="attribute-list product-qty">
                                                <div class="qty">
                                                    <input id="option-product-qty" type="text" value="1" name="Soluong" />
                                                    <input type="hidden" name="id" value="@item.MaSanPham" />
                                                </div>
                                            </div>
                                            <div class="attribute-label">Số lượng còn:</div>
                                            <div class="attribute-list product-qty">
                                                <div class="qty">
                                                    <input id="option-product-qty" type="text" value="@item.SoLuongTon" readonly />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-action">
                                        <div class="button-group">

                                            <input type="submit" class="btn-add-cart" style="text-decoration: none;" value="Thêm vào giỏ hàng" />

                                        </div>
                                    </div>
                            }
                        </div>
                    </div>
                    <!-- tab product -->
                    <div class="product-tab">
                        <ul class="nav-tab">
                            <li class="active">
                                <a aria-expanded="false" data-toggle="tab" href="#product-detail" style="text-decoration: none;">Chi tiết sản phẩm</a>
                            </li>
                            <li>
                                <a aria-expanded="true" data-toggle="tab" href="#information" style="text-decoration: none;">Thông tin</a>
                            </li>
                        </ul>
                        <div class="tab-container">
                            <div id="product-detail" class="tab-panel active">@item.MoTa</div>
                            <div id="information" class="tab-panel">
                                <table class="table table-bordered">
                                    <tr>
                                        <td width="200">Xuất xứ: </td>
                                        <td>@item.HangSanXuat.TenHangSanXuat</td>
                                    </tr>
                                    <tr>
                                        <td>Loại: </td>
                                        <td>@item.LoaiSanPham.TenLoaiSanPham</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.9&appId=1770232879954779";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<center><div class="fb-comments" data-href="@Request.Url.AbsoluteUri" data-numposts="5"></div></center>
@{ Html.RenderAction("SanPhamCungLoai", "SanPhams");}

