@model IEnumerable<WineShop.Models.SanPham>

<div class="m-b-5 input-prepend inside search-form no-boarder">
    <div class="container main-header">
        <div id="nav">
            <div>
                <table>
                    <tr>
                        <td>
                            @using (Html.BeginForm("TimKiemSP", "SanPhams"))
                            {

                                <form>
                                    Sản phẩm:
                                    <input class="no-border" name="txtTimkiem" style="background-color: #e5e5e5;" />

                                    Loại sản phẩm:
                                    @Html.DropDownList("MaLoaiSanPham", (IEnumerable<SelectListItem>)ViewBag.LSPs, "Chọn loại sản phẩm")

                                    Hãng sản xuất:
                                    @Html.DropDownList("MaHangSanXuat", (IEnumerable<SelectListItem>)ViewBag.HSXs, "Chọn nhà sản xuất")

                                    Giá:
                                    <input class="no-border" name="txtGia1" style="background-color: #e5e5e5; width: 50px;" />

                                    ->
                                    <input class="no-border" name="txtGia2" style="background-color: #e5e5e5; width: 50px;" />

                                    <button type="submit" style="background-color:#e5e5e5; height:25px; width: 50px;"><img src="~/images/search.png" /></button>
                                </form>
                            }
                        </td>

                        <td>

                            @using Microsoft.AspNet.Identity
                            @if (Request.IsAuthenticated)
                            {
                                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                {
                                    @Html.AntiForgeryToken()
                                <td>
                                    @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                                </td>
                                <td>
                                    <a href="javascript:document.getElementById('logoutForm').submit()">Đăng xuất</a>
                                </td>
                                }
                            }
                            else
                            {
                                <td>
                                    @Html.ActionLink("Đăng Nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                                </td>
                                <td>
                                    @Html.ActionLink("Đăng ký", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
                                </td>
                            }
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
