@model IEnumerable<WineShop.Models.SanPham>

<div class="m-b-5 input-prepend inside search-form no-boarder">
    <div class="container main-header">
        <div id="nav">
            <div class="form-style-5">
                <table>
                    <tr>
                        <td>
                            @using (Html.BeginForm("TimKiemSP", "SanPhams"))
                            {
                                    <form>
                                        <fieldset>
                                            <input class="no-border" name="txtTimkiem" style="background-color: #e5e5e5; height: 33px; margin-right: 25px; border-radius:10px 0 0 10px;" placeholder="Nhập tên sản phẩm"/>

                                            @Html.DropDownList("MaLoaiSanPham", (IEnumerable<SelectListItem>)ViewBag.LSPs, "Chọn loại sản phẩm")

                                            @Html.DropDownList("MaHangSanXuat", (IEnumerable<SelectListItem>)ViewBag.HSXs, "Chọn nhà sản xuất")

                                            <input class="no-border" name="txtGia1" style="background-color: #e5e5e5; width: 100px; height: 33px; margin-right: 25px;  margin-left: 25px;" placeholder="Giá"/>

                                            <input class="no-border" name="txtGia2" style="background-color: #e5e5e5; width: 100px; height: 33px; margin-right: 25px;" placeholder="Giá"/>

                                            <button type="submit" style="background-color:#e5e5e5; height:33px; width: 30px; margin-right: 15px;"><img src="~/Images/icon-serach7.png" /></button>
                                        </fieldset>
                                    </form>
                            }
                        </td>

                        <td>

                            @using Microsoft.AspNet.Identity
                            @if (Request.IsAuthenticated)
                            {
                                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                {
                                    @Html.AntiForgeryToken()
                                <td>
                                    @Html.ActionLink(User.Identity.GetUserName(), "ChangePassword", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                                </td>
                                <td>
                                    <a href="javascript:document.getElementById('logoutForm').submit()">Đăng xuất</a>
                                </td>
                                }
                            }
                            else
                            {
                                <td>
                                    @Html.ActionLink("Đăng Nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                                </td>
                                <td>
                                    @Html.ActionLink("Đăng ký", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
                                </td>
                            }
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
