@model WineShop.Models.RegisterViewModel
@{
    Layout = "~/Views/Shared/LayoutNoSearch.cshtml";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{

    <div class="columns-container">
        <div class="container" id="columns">
            <div class="page-content">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="box-authentication">
                            <h3>Tạo một tài khoản</h3>
                            <p>@ViewBag.Message</p>
                            <p>Vui lòng nhập địa chỉ email của bạn để tạo tài khoản.</p>
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("")
                            <br />
                            <label for="emmail_register">Địa chỉ Email</label>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            <label for="password_login">Mật khẩu</label>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            <label for="password_login">Nhập lại mật khẩu</label>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            <button type="submit" class="button"><i class="fa fa-user"></i> Tạo tài khoản</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}