@model WineShop.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Thay đổi mật khẩu";
}


<div class="columns-container">
    <div class="container" id="columns">
        <div class="page-content">
            <div class="row">
                <div class="col-sm-6">
                    <div class="box-authentication">
                        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <h4>Phục hồi mật khẩu.</h4>
                            <hr />
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Code)

                            <label for="emmail_register">Địa chỉ Email</label>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })


                            <label for="password_login">Mật khẩu</label>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })


                            <label for="password_login">Mật khẩu</label>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })



                            <input type="submit" class="button" value="Phục hồi" />

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
