@model WebShop.Areas.Administrator.Models.LoaiSanPham

@{
    ViewBag.Title = "ChiTiet";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>ChiTiet</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaLoaiSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaLoaiSanPham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenLoaiSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLoaiSanPham)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Cập nhật", "CapNhat", new {  id = Model.MaLoaiSanPham }) |
    @Html.ActionLink("Quay về trang trước", "Index")
</p>
