@model WineShop.Models.HangSanXuat

@{
    ViewBag.Title = "ChiTiet";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.TenHangSanXuat)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaHangSanXuat)
        </dd>

        <dt>
           Hãng sản xuất
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenHangSanXuat)
        </dd>

        <dt>
            Logo 
        </dt>

        <dd>
            <img src="@Url.Content("~/Images/Logo/" + @Model.LogoURL)" alt="@Model.LogoURL" height="200" width="200"/>
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Cập nhật", "CapNhat", new { id = Model.MaHangSanXuat }) |
    @Html.ActionLink("Quay lại trang  trước", "Index")
</p>
