@model ShopWeb.Areas.Administrator.Models.HangSanXuat

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HangSanXuat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenHangSanXuat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenHangSanXuat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogoURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogoURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BiXoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BiXoa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaHangSanXuat }) |
    @Html.ActionLink("Back to List", "Index")
</p>
