@model WineShop.Models.HangSanXuat

@{
    ViewBag.Title = "ThemMoi";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<div class="">
    <ul class="breadcrumb">
        <li>
            <p>HÃNG SẢN XUẤT</p>
        </li>
        <li>
            <b>THÊM MỚI</b>
        </li>
    </ul>
    <div class="page-title">
        <a href="@Url.Action("Index", "HangSanXuat")"><i class="icon-custom-left"></i></a>
        <h3>Trở về <span class="semi-bold">Danh sách</span></h3>
    </div>
</div>

<div class="col-md-6">
    <div class="grid simple horizontal red">
        <div class="grid-title ">
            <h4>Thêm mới</h4>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="remove"></a>
            </div>
        </div>
        <div class="grid-body">
            <div>
                <div class="form-group">
                    <div class="control-label col-md-2">

                        @using (Html.BeginForm("ThemMoi", "HangSanXuat", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="form-group">
                                    Tên hãng sản xuất
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.TenHangSanXuat, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.TenHangSanXuat, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    Logo
                                    <div class="col-md-10">
                                        <input type="file" name="upload" id="upload" />
                                        @Html.ValidationMessageFor(model => model.LogoURL, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Thêm mới" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
