<div id="main-header">
    <div class="container main-header">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-lg-3 logo">
                <a href="@Url.Action("Index","Home")"><img alt="Kute Shop" src="~/assets/data/option8/logo.png" /></a>
            </div>
            <div class="col-sm-10 col-md-7 col-lg-9 main-menu-wapper">
                <div id="main-menu" class="main-menu">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">                            
                            <div class="#">
                                <ul id="nav">
                                    @if (Session["a"] == null && Session["a"].ToString() == "TrangChu")
                                    {
                                        <li class="current">
                                            @Html.ActionLink("Trang chủ", "Index", "Home")
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="current">
                                            @Html.ActionLink("Trang chủ", "Index", "Home")
                                        </li>
                                    }
                                    <li>
                                        <a href="#">Loại Rượu</a>
                                        <ul>
                                            @if (Session["a"] != null && Session["a"].ToString() == "TheoLoai")
                                            {
                                                <li>
                                                    @{ Html.RenderAction("MenuLoai", "SanPhams");}
                                                </li>
                                                        }
                                                        else
                                                        {
                                                            <li>
                                                                @{ Html.RenderAction("MenuLoai", "SanPhams");}
                                                            </li>
                                                                    }
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Hãng Rượu</a>
                                        <ul>
                                            @if (Session["a"] != null && Session["a"].ToString() == "TheoHang")
                                            {
                                                <li>
                                                    @{ Html.RenderAction("MenuHang", "SanPhams");}
                                                </li>
                                                        }
                                                        else
                                                        {
                                                            <li>
                                                                @{ Html.RenderAction("MenuHang", "SanPhams");}

                                                            </li>
                                                                    }
                                        </ul>
                                    </li>
                                    <li>
                                        @if (Session["a"] != null && Session["a"].ToString() == "ThongTin")
                                        {
                                        <li class="current">@Html.ActionLink("Thông tin", "HienThiThongTin", "Home")</li>
                                        }
                                        else
                                        {
                                            <li>@Html.ActionLink("Thông tin", "HienThiThongTin", "Home")</li>
                                        }
                                    </li>
                                    <li>
                                        @if (Session["a"] != null && Session["a"].ToString() == "LienHe")
                                        {
                                        <li class="current">@Html.ActionLink("Liên hệ", "HienThiLienHe", "Home")</li>
                                        }
                                        else
                                        {
                                            <li>@Html.ActionLink("Liên hệ", "HienThiLienHe", "Home")</li>
                                        }
                                    </li>
                                    <li>
                                        @if (Session["DangNhap"] != null)
                                        {
                                            <a href="@Url.Action("Index", "GioHang")">Giỏ hàng</a>
                                        }
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
